 /* ope's custom styles */
 .alice-carousel{
    background:#fff
  }
  .alice-carousel__wrapper{
    margin-top: 10px;   
  }

  .alice-carousel__dots-item{
    display: none;
  }

  .alice-carousel__stage{ 
    /* is what contains items */
    justify-content: flex-start;
  
  }
  .alice-carousel__stage-item{
    margin-right: 5px;
    width: auto;

  }
  .alice-carousel__next-btn, .alice-carousel__prev-btn{
    background:#f3f3f3;
    box-shadow: 1px 1px 2px #c0c0c0;
    position:absolute;
    top:40%;
    width:40px;
    height: 40px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: bold;


  }
  .alice-carousel__next-btn{
      right:30px
  }
  .alice-carousel__prev-btn{
      left: 30px;
  }


  /* responsiveness */

  @media only screen and (max-width:568px){
    .alice-carousel__prev-btn, .alice-carousel__next-btn{
      display:none;
    }
  }
