.fullscreen-loader-cont{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-inner-wrapper{
    width: 50px;
    height: 50px;
}




.product-placeolder-loader-cont{
    justify-content: center;
}
.product-placeholder{
    width:180px;
    height: 250px;
    margin: 15px;
    border:1px solid var(--ov-gray-light)
    
    
}

.placeholder-img-cont{
    width:150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    position:relative;
    background-image: linear-gradient(90deg,#d0d0d0,#c0c0c0,#c0c0c0);
    animation: load 1s ease-in-out infinite;
}
.placeholder-img-cont img{
    width:50px;
    height: 50px;
    max-height: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.placeholder-other-cont{
    width:150px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    background-image: linear-gradient(90deg,#d0d0d0,#c0c0c0,#c0c0c0);
    animation: load 1s ease-in-out infinite;
}


@keyframes load{
    0%{
        background-image:linear-gradient(90deg, #d0d0d0,#c0c0c0,#c0c0c0);   
    }
    50%{
        background-image:linear-gradient(90deg, #c0c0c0,#d0d0d0,#c0c0c0);
    }
    100%{
        background-image:linear-gradient(90deg, #c0c0c0,#c0c0c0,#d0d0d0);   
    }
}

@media only screen and (max-width:465px){
    .product-placeholder{
        margin: 5px;
        width: 120px;
        max-width: 120px;

    }
    .placeholder-img-cont{
        width: 120px;
        max-width: 120px;
    }
    .placeholder-img-cont img{
        width: 120px;
        max-width: 120px;
        height: 120px;
    }
    .placeholder-other-cont{
        width: 120px;
        max-width: 120px;
    }
    .product-placeolder-loader-cont{
        justify-content: center;
    }
}