.view-more-slider-cont{
    width:100%;
    height: 300px;
    max-height: 300px;
    position: relative;
    background-color: lime;
    
}
.view-more-slider-cont img{
    width: 100%;
    display: block;
    height: 100%;

}
.search-input-cont{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 40px;
    border-radius: 6px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

.search-input-cont input{
    width:80%;
    height: 100%;
    border:none;

}

.search-icon-cont{
    width:10%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.search-icon-cont i {
    width:30px;
    height: 30px;
    font-size: 25px;
    color:var(--ov-gray-medium)
}

@media only screen and (max-width:568px){
    .search-input-cont{
        width: 90%;
    }
    ..view-more-slider-cont img{
        height: auto;
    }
}

